@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Thin.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Black.woff2') format('woff2');
    font-weight: 900;
}

:root {
    --dark-primary: #1f1d25;
    --dark-secondary: #1e252f;
    --dark-text-color: white;
}

html[data-theme="dark"] {
    body {
        background-color: var(--dark-primary);
        color: var(--dark-text-color);
    }

    a {
        color: var(--dark-text-color) !important;
    }

    .socials {
        svg {
            fill: white;
        }
    }

    .intro {
        background-color: var(--dark-secondary) !important;
    }
}

body {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

main {
    margin: 0 4rem;
}
