@import './variables.scss';

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Thin.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Black.woff2') format('woff2');
    font-weight: 900;
}

:root {
    --dark-primary: #1f1d25;
    --dark-secondary: #1e252f;
    --dark-text-color: white;
}

html[data-theme="dark"] {
    body {
        background-color: var(--dark-primary);
        color: var(--dark-text-color);
    }

    nav a {
        color: var(--dark-text-color) !important;
    }

    .socials {
        svg {
            fill: white;
        }
    }


    .expertise, .expertise-item {
        svg {
            fill: white;
            
            path {
                fill: white !important;
            }
        }
    }

    .intro {
        background-color: var(--dark-secondary) !important;
    }

    form button {
        box-shadow: #00000070 0px 8px 24px !important;
    }
}

body {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    position: relative;
}

main {
    margin: 0 4rem;
}

.btn {
    padding: 13px 26px;
    border-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    &:visited {
        color: initial;
    }

    &.primary {
        background-color: white;
        border-radius: 5px;
        color: black;
        margin-right: 0.5rem;
    }

    &.secondary {
        background-color: black;
        color: white;
        border-radius: 47px;
    }
}


// Mobile globals
@media(max-width: $breakpoint-xs) {
    #nav, #main, #footer {
        margin: 0 1rem;
    }

    main {
        margin: 0 2rem;
    }
}

@media(max-width: $breakpoint-s) {
    btn {
        padding: 10px 22px !important;
    }
}
